<section>
  <h2><%= @dog.name %></h2>

  <% @dog.images.each do |image| %>
    <%= image_tag url_for(image), alt: "Photo of #{@dog.name}" %>
  <% end %>

  <p><%= @dog.description %></p>

  <p><%= @dog.likes.count %> Likes</p>

  <% like = current_user.likes.find_by(dog: @dog) %>

  <%if like.nil?  %>
    <form action="/likes" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="like[dog_id" value="<%= @dog.id %>">
      <input type="submit" value="Like">
    </form>
  <%else%>
    <form action="<%= like_path(like) %>" method="post">
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" value="Unlike">
    </form>

  <%end%>
  <%= link_to 'Edit', edit_dog_path(@dog) if policy(@dog).update? %>
  <br>
  <%= link_to 'Delete', dog_path(@dog), method: :delete, data: { confirm: 'Are you sure?' } %>
  <%#= link_to 'Delete #{@dog.name}'s Profile', dog_path, method: :delete, if policy(@dog).destroy? %>
</section>
